* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
}

main {
  display: flex;
  align-content: center;
  justify-content: center;
}

table,
tr,
th,
td {
  border: 1px solid #000;
  border-collapse: collapse;
  padding: 3px 5px;
}

th {
  width: 200px;
}

#btn1 {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#addBook {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 700;
  padding: 5px 10px;
}

/* #dialog {
  width: 500px;
  height: 500px;
  padding: 30px;
  display: flex;
  flex-direction: column;
} */

#dialog #close-button {
  width: 30px;
  position: absolute;
  right: 0;
  top: 0;
}
