* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
}

table,
tr,
th,
td {
  border: 1px solid #000;
  border-collapse: collapse;
  padding: 3px 5px;
}

th {
  width: 200px;
}

#btn1 {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#addBook {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 700;
  padding: 5px 10px;
}

#dialog {
  width: 500px;
  height: 500px;
  padding: 30px;
  display: flex;
  flex-direction: column; 
  align-self: center;
  justify-self: center;
  position: absolute;
  border: 3px solid #fff;
}

#dialog #close-button {
  width: 30px;
  right: 0;
  position: absolute;
  top: 0;
  margin: 5px;
}

#dialog #submit-button {
  width: 60px;
  
}

form {
  display: flex;
  flex-direction: column;
}

form p {
  font-size: 16px;
  margin-bottom: 20px;
}
