* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
}

main {
  display: flex;
  align-content: center;
  justify-content: center;
}

table,
tr,
th,
td {
  border: 1px solid #000;
  border-collapse: collapse;
  padding: 3px 5px;
}

th {
  width: 200px;
}
